position
親に基準となるpositonプロパティを設定する必要がある

absolute:
親ボックスにpositionプロパティのstatic以外の値が指定されていない場合には、
ウィンドウ全体の左上が基準位置となる

z-index
子要素は親要素の上に表示できない
→ ループ処理内だと使いづらい

min:
最大値を設定する (ex. 400pxより大きくならない！)
カッコ内で最も小さい値が採用される
これ以上大きくならない値を決める
例.
width: min(400px, 50vw) // 順番は関係ない

max:
最小値を設定する (ex. 400pxより小さくならない！)
カッコ内で最も大きい方が採用される
これ以上小さくならない値を決める
例.
width: max(50vw, 400px) // 順番は関係ない

clamp:
最小値、推奨値、最大値を設定
例.
width: clamp(400px, 50vw, 600px)

レスポンシブ対応に適している！
(大きくなりすぎず、小さくなりすぎない)
font-size: clamp(16px, 3vw, 32px)

vw:
ズームイン・アウトでもフォントサイズが変わらない！！
↓ズームイン・アウトでもフォントサイズが変わる！
font-size: clamp(16px, 1rem + 3vw, 32px)

1rem: ブラウザのフォントの標準サイズ(16px)


//// 全てのプロパティ値のリセット
// プロパティ値を上書きするのが面倒な時に利用
all: unset


//// ユニバーサルプロパティ値
-> どのプロパティにも使える

// inherit
親要素から値を継承

使用例
<ul>
  <li>リンク
    <a href="https://www.youtube.com/watch?v=aNnauB_PY3I&loop=0"></a>
  </li>
</ul>

li { // 親要素の色を赤色へ(aタグの色は変わらない)
  color: red;
}

a { // 親要素のcolorを継承(aタグの色が変わる)
  color: inherit;
}

// initial
ブラウザの初期値に戻す

// unset
継承する値があれば継承し、


//// カスケード
CSSルールの順序
https://youtu.be/aNnauB_PY3I?t=61
https://developer.mozilla.org/ja/docs/Web/CSS/Cascade


//// 詳細度
同じカスケード順の時に利用されるルール
複数のルールが適用された時の優先度